h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display the list items horizontally */
    justify-content: flex-start; /* Align items to the left */
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}
